
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,400;0,800;1,800&display=swap');
* {
    box-sizing:border-box;
    font-family: 'Plus Jakarta Sans';
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    /*background-image: url("leaf-wallpaper-hd-1.jpg");*/
    /*background-image: url("dubduckspenguino.jpg");*/
    background-image: url("sunshine-landscape-nature.jpg");
    background-size:cover;
    color: rgb(255, 255, 255) !important;
    font-weight: 800;
    /*text-shadow: green 0.1rem 0.1rem 0.2rem;*/
    /*text-shadow: rgb(49, 2, 49) 0.1rem 0.1rem 0.2rem;*/
    text-shadow: rgb(9, 76, 13) 0.1rem 0.1rem 0.2rem;
    font-size: 2.8rem;
    background-color: rgba(114, 180, 148, 0.79);
    padding: 1rem;
}

body > *:first-child {   
    padding: 1.5rem;
    border-radius: 2rem;
    /*background-color: rgba(255, 255, 255, 0.559);*/
}
nav{
    /*background-color: rgba(114, 180, 148, 0.5);*/
    background-color: rgba(255, 255, 255, 0.559);
    border-radius: 2rem;
    padding: 1rem;
    min-width: 850px;
    width: 60vw;
    max-width: 1000px;
}

ul{
    list-style-type:none;
}


a {
    /*color:rgb(114, 253, 253) !important;*/
    color: white;
    text-decoration: none;
    /*text-shadow: rgb(27, 139, 78) 0.1rem 0.1rem 0.2rem;*/
    text-shadow: rgb(5, 61, 43) 0.1rem 0.1rem 0.2rem;
    font-weight:600;
    margin-right: 0.5rem;
}

.nav {
    width:100%;
    padding: 0rem 1rem;
    columns: 3;
}

/*
.nav > *:first-child {
    float: left !important;
}

.nav *:first-child ul {
    display: flex;
    flex-flow: column wrap !important;
}

.section:last-child {
    float: right !important; 
}
*/
.section {
    width: 33%;
    display: flex;
    flex-flow: column wrap;
    padding: 0.3rem 1rem;

}

ul {
    padding-left: 0;
}

li {
    padding:0.3rem;
}

.links {
    font-size:1.5rem;
    width: 100%;
    display: flex;
}

.link a{
    display: flex;
    align-items: center;
}

.link img {
    object-fit: contain;
    margin-right: 0.7rem;
}

.title {
    font-size: 2.1rem;
}
